<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    @Html.Partial("_Head")
</head>

<body class="nav-md footer_fixed">

    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col menu_fixed hidden-print">
                <div class="left_col scroll-view">
                    @Html.Partial("_NavBarTitle")
                    <div class="clearfix"></div>
                    @Html.Partial("_ProfileInfo")
                    <br />
                    @Html.Partial("_Sidebar")
                    @Html.Partial("_SidebarFooter")
                </div>
            </div>
            @Html.Partial("_TopNav")
            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>صفحه ساده</h3>
                        </div>
                        <div class="title_right">
                            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="جست و جو برای...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">برو!</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("_Footer")
        </div>
    </div>
    @Html.Partial("_LockScreen")
    <!-- jQuery -->
    <script src="~/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/vendors/nprogress/nprogress.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/vendors/iCheck/icheck.min.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/vendors/moment/min/moment.min.js"></script>
    <script src="~/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="~/build/js/custom.min.js"></script>
    <script src="~/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
@RenderSection("scripts", required: false)
</body>
</html>
